.App {
  text-align: center;
}

span{
  user-select:none
}

.spining {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spining {
    
    animation: spin-animation ease-in-out infinite 10s ;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
